@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(20, 20, 20, 0.5)),
    url(../public/welcome.jpg);
  background-position-y: 35%;
  min-height: 450px;
}

.form-container {
  border-radius: 5%;
  width: 15%;
  padding-left: 40px;
  margin-left: 150px;
  position: relative;
  top: 50px;
}

.form-container p {
  font-size: 15px !important;
}

.sign-in-text {
  font-size: 30px !important;
}

.hero-text {
  position: relative;
  top: 200px;
}
